input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; }

.contenido_left_error { width: 550px; padding: 0 50px 0 50px; float: left; }
.contenido_left_error h2 { font-size: 13px; font-weight: bold; color: #838383; margin: 0px; padding: 0px; border-bottom: 1px solid #BABCBD; }
.contenido_left_error h3 { font-size: 12px; font-weight: 400; color: #838383; margin: 0px 0px 0px 0px; padding: 5px 0px 0px 0px; }

.contenido_right_error { padding: 0px 0px 0px 15px; width: 580px; float: left; text-align: justify; }
.contenido_right_error h2 { font-size: 13px; font-weight: bold; color: #838383; margin: 0px; padding: 0px; border-bottom: 1px solid #BABCBD; }
.contenido_right_error li { font-size: 13px; font-weight: 400; color: #838383; margin: 0px; padding: 10px; }

.campos_general_error { margin: 30px 50px 0px 10px; }

.error_message { border: #BABCBD 1px dashed; margin-top: 5px; margin-bottom: 5px; font-size: 20px; color: #838383; border-radius: 15px; }
.error_message .icono { float: left; background-image: url(../css/images/errorLogin.jpg); background-repeat: no-repeat; height: 41px; width: 41px; margin: 15px; }
.error_message .mensaje{ margin-left: 50px; margin-top: 10px; margin-right: 10px; margin-bottom: 5px; min-height: 30px;  }
.error_message .linkNuevamente{ margin-left: 75px; margin-bottom: 15px; }

.link_intentar_nuevamente_error_a { font-size: 11px !important; color: #9E969A; text-decoration: none; }
.link_intentar_nuevamente_error_a:hover { font-weight: bold;}